AlignAfterOpenBracket: BlockIndent
AlignOperands: AlignAfterOperator
AllowShortCaseLabelsOnASingleLine: true
BasedOnStyle: Google
BinPackArguments: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true
ColumnLimit: 80
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
IndentPPDirectives: AfterHash
IndentWrappedFunctionNames: false
PointerAlignment: Left
ReflowComments: true
SortIncludes: true
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
SpacesInCStyleCastParentheses: false
TabWidth: 2
UseTab: Always

#AlignArrayOfStructures: Left
#AlignConsecutiveAssignments: true
#AlignConsecutiveDeclarations: true
#AlignConsecutiveMacros: true
#AlignEscapedNewlines: Left
#AlignTrailingComments: true
#AllowShortBlocksOnASingleLine: false
#AllowShortFunctionsOnASingleLine: None
#AllowShortIfStatementsOnASingleLine: Never
#AllowShortLambdasOnASingleLine: None
#AllowShortLoopsOnASingleLine: false
#BreakConstructorInitializers: AfterColon
#BreakInheritanceList: AfterColon
#ColumnLimit: 120
#EmptyLineBeforeAccessModifier: Always
#FixNamespaceComments: true
#IncludeBlocks: Regroup
#IndentCaseLabels: true
#IndentWidth: 4
#KeepEmptyLinesAtTheStartOfBlocks: false
#MaxEmptyLinesToKeep: 1
#PackConstructorInitializers: NextLine
#PenaltyBreakAssignment: 10
#PenaltyBreakBeforeFirstCallParameter: 10
#PenaltyBreakComment: 10
#PenaltyBreakFirstLessLess: 10
#PenaltyBreakString: 10
#PenaltyBreakTemplateDeclaration: 10
#PenaltyExcessCharacter: 10
#PenaltyReturnTypeOnItsOwnLine: 1000
#SortUsingDeclarations: true
#SpaceAfterCStyleCast: false
#SpaceAfterLogicalNot: false
#SpaceBeforeAssignmentOperators: true
#SpaceBeforeCtorInitializerColon: true
#SpaceBeforeInheritanceColon: true
#Standard: Latest
